In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:\SINH\☆Work☆\ML\Hands-on ML\DataSet\housing.csv")
print(df.shape)
df.count()

(20640, 10)

longitude             20640
latitude              20640
housing_median_age    20640
total_rooms           20640
total_bedrooms        20433
population            20640
households            20640
median_income         20640
median_house_value    20640
ocean_proximity       20640
dtype: int64

In [3]:
df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

## filling the data

In [5]:
# df.total_bedrooms.fillna(df.total_bedrooms.median(),inplace=True)

In [6]:
df.ocean_proximity.value_counts()
# df['ocean_proximity'].value_counts() # both are same i think

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [7]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### histograms
will show which values repeted highly.
insite about value repetation

In [8]:
# jupyter own backend,so it'll render within
%matplotlib inline  

import matplotlib.pyplot as plt
# df.median_income.hist(color = "red",bins = 100,figsize=(20,15),lw=0)
# plt.show()  # this is optional

# Creating a test set function

In [9]:
# import numpy as np

# def split_train_test(data,test_ratio):
#     np.random.seed(42) #it always generates the same shuffled indices
#     shuffled_indices = np.random.permutation(len(data))
#     test_set_size = int(len(data) * test_ratio)
#     test_indices = shuffled_indices[:test_set_size]
#     train_indices = shuffled_indices[test_set_size:]
#     return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
# train_set , test_set = split_train_test(df,0.2)
# len(train_set),len(test_set)

## With the help of sklearn

In [11]:
from sklearn.model_selection import train_test_split

train_set,test_set = train_test_split(df,test_size=0.2,random_state=42)
len(train_set),len(test_set)

(16512, 4128)

## stratified sampling
### first need to create an income category attribute based on median_income

In [12]:
import numpy as np
df['income_cate'] = pd.cut(df.median_income,bins=[0.,1.5,3.0,4.5,6., np.inf],labels=[1,2,3,4,5])
# df.income_cate.head(10)

In [13]:
# df.income_cate.hist()
# plt.show()

### Now you are ready to do stratified sampling based on the income category. Use Scikit-Learn’s StratifiedShuffleSplit class

In [14]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1,test_size=0.2,random_state=42)
for train_index ,test_index in split.split(df,df.income_cate):
    strat_train_set = df.loc[train_index]
    strat_test_set = df.loc[test_index]    
    
# strat_test_set.income_cate.value_counts() / len(strat_test_set)

### remove the income_cat attribute so the data is back to its original state

In [15]:
for set_ in (strat_train_set,strat_test_set):
    set_.drop("income_cate",axis=1,inplace=True)

#### Let’s create a copy so you can play with it without harming the training set

In [16]:
df1 =  strat_train_set.copy() 
df1.count()

longitude             16512
latitude              16512
housing_median_age    16512
total_rooms           16512
total_bedrooms        16354
population            16512
households            16512
median_income         16512
median_house_value    16512
ocean_proximity       16512
dtype: int64

## Visualizing Geographical Data
#### Since there is geographical information (latitude and longitude), it is a good idea to create a scatterplot of all districts to visualize the data

In [17]:
# df1.plot(kind='scatter',x='longitude',y='latitude',alpha=0.1)
# plt.show()

In [18]:
# df1.plot(kind='scatter',x = 'longitude', y ='latitude',alpha=0.4,
#         s=df1.population/100,label='population',figsize=(10,7),
#         c='median_house_value',cmap=plt.get_cmap('jet'),colorbar=True,)
# plt.show()

## Correlations
#### Since the dataset is not too large, we can easily compute the standard correlation coeffcient (also called Pearson’s r) between every pair of attributes using the corr() method:

In [19]:
corr_matrix = df1.corr()

In [20]:
corr_matrix.median_house_value.sort_values(ascending=False)

median_house_value    1.000000
median_income         0.687151
total_rooms           0.135140
housing_median_age    0.114146
households            0.064590
total_bedrooms        0.047781
population           -0.026882
longitude            -0.047466
latitude             -0.142673
Name: median_house_value, dtype: float64

### Another way to check for correlation between attributes is to use Pandas’ "scatter_matrix function".

In [21]:
from pandas.plotting import scatter_matrix
attributes = ["median_house_value", "median_income", "total_rooms","housing_median_age"]
# scatter_matrix(df1[attributes],figsize=(12,8))
# plt.show()

In [22]:
# df1.plot(kind='scatter',x = 'median_income',y='median_house_value',alpha=0.1)

### Adding new attributes 
#### 1."rooms_per_household"
#### 2."bedrooms_per_room"
#### 3."population_per_household"

In [23]:
df1['rooms_per_household'] = df1.total_rooms/df1.households
df1['bedrooms_per_room'] = df1.total_bedrooms/df1.total_rooms
df1['population_per_household'] = df1.population/df1.households

In [24]:
corr_matrix = df1.corr()
corr_matrix.median_house_value.sort_values(ascending=False)

median_house_value          1.000000
median_income               0.687151
rooms_per_household         0.146255
total_rooms                 0.135140
housing_median_age          0.114146
households                  0.064590
total_bedrooms              0.047781
population_per_household   -0.021991
population                 -0.026882
longitude                  -0.047466
latitude                   -0.142673
bedrooms_per_room          -0.259952
Name: median_house_value, dtype: float64

## Prepare the Data for ML Algo

In [25]:
df1 = strat_train_set.drop('median_house_value',axis=1)
df1_labels = strat_train_set.median_house_value.copy()

## Data cleaning

#### 1 Get rid of the corresponding districts......   or
#### 2 Get rid of the whole attribute......   or 
#### 3 Set the values to some value (zero, the mean, the median, mode,etc.).

In [26]:
# df1.dropna(subset=['total_bedrooms']) # option 1
# df1.drop("total_bedrooms",axis=1)     # option 2
# median = df1.total_bedrooms.median()    # option 3
# df1.total_bedrooms.fillna(median,inplace=True)

### with help of sklearn SimpleImputer

In [27]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')

<!-- Since the median can only be computed on numerical attributes, we need to create a copy of the data without the text attribute "ocean_proximity". -->

Since the median can only be computed on numerical attributes, we need to create a copy of the data without the text attribute "ocean_proximity".

In [28]:
df_num = df1.drop("ocean_proximity",axis=1)
imputer.fit(df_num)
df_num.count()

longitude             16512
latitude              16512
housing_median_age    16512
total_rooms           16512
total_bedrooms        16354
population            16512
households            16512
median_income         16512
dtype: int64

In [29]:
imputer.statistics_

array([-118.51   ,   34.26   ,   29.     , 2119.     ,  433.     ,
       1164.     ,  408.     ,    3.54155])

In [31]:
df_num.median().values

array([-118.51   ,   34.26   ,   29.     , 2119.     ,  433.     ,
       1164.     ,  408.     ,    3.54155])

## Handling Text and Categorical Attributes